.efficacy-background {
  background-image: url("../../../images/Banner.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom;
}
@include media(">1550px") {
  .efficacy-background {
    background-size: cover;
  }
}

@include media("<750px") {
  .efficacy-background {
    background-size: cover;
  }
}
