.efficacy-background {
  background-image: url("../../../images/Banner.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom;
}
@include media(">1550px") {
  .efficacy-background {
    background-size: cover;
  }
}

@include media("<750px") {
  .efficacy-background {
    background-size: cover;
  }
}


@include media("<1300px") {
  .slick-container{
    width : 90% !important;
  }
}
@include media("<900px") {
  .slick-track{
    margin-left: -2.2%;
  }
}
@include media("<700px") {
  .slick-track{
    margin-left: 0%;
  }
}


.slick-center {
  transform: scale(2);
}

.slick-container{
  width : 70%
}

.slick-list::before{
  content: '';
  position: absolute;
  width: 292px;
  height: 73%;
  z-index: -2;
  border: 4px #25282c solid;
  border-radius: 50em;
  left: 50.2%;
  align-self: center;
  transform: translate(-50%);
}



.slick-track{
  height: 20em;
  display: flex;
  align-items: center;
}

.slick-slide{ 
  transition-property:transform ;
  transition:  0.5s;
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 9em;
}

.slick-list{
  display: flex;
}

.slider-item{ 
  // height: 7em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;
 
}


//  .slick-center{ 
//    .slider-item {

  
//     border: lightblue 2px solid;
//     border-radius: 50em;
//     padding: 10px 
//   }
// }