@if ($font--provider == "Google Fonts") {
  @import url("https://fonts.googleapis.com/css?family=#{$font--import}&display=swap");
}

@font-face {
  font-family: "Tajawal Regular";
  src: url("../../../fonts/tajawal/Tajawal-Regular.ttf");
}

@font-face {
  font-family: "Tajawal Light";
  src: url("../../../fonts/tajawal/Tajawal-Light.ttf");
}

@font-face {
  font-family: "Tajawal Medium";
  src: url("../../../fonts/tajawal/Tajawal-Medium.ttf");
}
