// Hide elements, for screen readers only
.screen-reader {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

// Reset lists style
.list-reset {
  list-style: none;
  padding: 0;

  li {
    margin: 0;
  }
}

// Text alignment
.ta-l {
  text-align: left;
}

.ta-c {
  text-align: center;
}

.ta-r {
  text-align: right;
}

// Font weight
.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

// Text color
.text-color-high {
  color: color(high-contrast);
}

.text-color-mid {
  color: color(mid-contrast);
}

.text-color-low {
  color: color(low-contrast);
}

.text-color-primary {
  color: color(primary);
}

.text-color-secondary {
  color: color(secondary);
}

.text-color-error {
  color: color(error);
}

.text-color-warning {
  color: color(warning);
}

.text-color-success {
  color: color(success);
}

.invert-color {
  .text-color-high {
    color: color(high-contrast-inverse);
  }

  .text-color-mid {
    color: color(mid-contrast-inverse);
  }

  .text-color-low {
    color: color(low-contrast-inverse);
  }
}

// Text transform
.tt-u {
  text-transform: uppercase;
}

// Images
.image-full {
  width: 100%;
}

.image-larger {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + #{$image-larger--extra-width * 2});
  max-width: 100vw;
}

// Helper class for coloured bg
.has-bg-color {
  position: relative;
  background-color: color-bg(bg-color);
  z-index: 0;
}

// Helper class for box shadow
.has-shadow {
  box-shadow: color-bg(shadow);
}

img.has-shadow {
  border-radius: $img-radius;
}

// Dividers
.has-top-divider {
  @include divider(before);
}

.has-bottom-divider {
  @include divider(after);
}
.has-bottom-divider-short {
  @include divider-short(after);
}

.has-top-divider-short {
  @include divider-short(before);
}

.invert-color {
  .has-top-divider {
    @include divider(before, inverse);
  }

  .has-bottom-divider {
    @include divider(after, inverse);
  }
}

// For centering content
.center-content {
  text-align: center;

  img,
  svg,
  video {
    margin-left: auto;
    margin-right: auto;
  }

  .button-group {
    justify-content: center;
  }
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Responsive video
.responsive-video {
  position: relative;
  padding-bottom: 56.25%; // 16:9
  height: 0;

  &.is-4-3 {
    padding-bottom: 75%; // 4:3
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@include media("<=medium") {
  .ta-l-mobile {
    text-align: left;
  }

  .ta-c-mobile {
    text-align: center;
  }

  .ta-r-mobile {
    text-align: right;
  }

  .center-content-mobile {
    text-align: center;

    img,
    svg,
    video {
      margin-left: auto;
      margin-right: auto;
    }

    .button-group {
      justify-content: center;
    }
  }
}

@include media(">medium") {
  .ta-l-desktop {
    text-align: left;
  }

  .ta-c-desktop {
    text-align: center;
  }

  .ta-r-desktop {
    text-align: right;
  }

  .center-content-desktop {
    text-align: center;

    img,
    svg,
    video {
      margin-left: auto;
      margin-right: auto;
    }

    .button-group {
      justify-content: center;
    }
  }
}
