.txt-al-ce {
  text-align: center;
}
.txt-al-st {
  text-align: start;
}
.txt-al-en {
  text-align: end;
}

.text-align-center {
  text-align: center;
}
.text-align-start {
  text-align: start;
}
.text-align-end {
  text-align: end;
}

@include media("<800px") {
  .text-container {
    width: 90% !important;
  }
}

.text-center {
  text-align: center;
}

.text-white {
  color: white !important;
}
