.card {
  position: relative;
  background-color: #ffffff;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 6px 7px 17px -3px rgba(184, 184, 184, 0.82);
  -webkit-box-shadow: 6px 7px 17px -3px rgba(184, 184, 184, 0.82);
  -moz-box-shadow: 6px 7px 17px -3px rgba(184, 184, 184, 0.82);
  border-radius: 7px;
  width: fit-content;
  z-index: 1;
}

.card-black {
  background-color: #25282c;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border-radius: 0;
}

.card-transparent {
  background-color: #1b1f24;
  position: relative;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 2px 2px 5px 4px rgba(13, 13, 13, 0.75);
  -webkit-box-shadow: 2px 2px 5px 4px rgba(13, 13, 13, 0.75);
  -moz-box-shadow: 2px 2px 5px 4px rgba(13, 13, 13, 0.75);
  border-radius: 7px;
  padding: 10px 15px 10px 15px;
  width: fit-content;
  z-index: 1;
}

.practise-card-item {
  width: 500px;
  height: 100px;
  color: whitesmoke;
  cursor: pointer;
}

.card-full {
  @extend .card;
  width: 100%;
  padding: 20px;
  margin-bottom: 32px;
}
.card-half {
  @extend .card;
  width: 50%;
}

.message-left {
  border-radius: 20px;
  border-top-left-radius: 0;
  padding: 20px 25px;
  line-height: 25px;
  animation: 1s slow-show;
}
.message-right {
  line-height: 25px;
  box-shadow: -6px 7px 17px -3px rgba(184, 184, 184, 0.82);
  -webkit-box-shadow: -6px 7px 17px -3px rgba(184, 184, 184, 0.82);
  -moz-box-shadow: -6px 7px 17px -3px rgba(184, 184, 184, 0.82);
  border-radius: 20px;
  border-top-right-radius: 0;
  color: white !important;
  align-self: flex-end;
  padding: 17px 22px;
  background-image: linear-gradient(
    to right bottom,
    #00c6c2,
    #02cac6,
    #05ceca,
    #07d2ce,
    #0ad6d2,
    #0adad6,
    #0addd9,
    #0ae1dd,
    #08e5e0,
    #05e8e4,
    #03ece7,
    #00f0eb
  );
  animation: 1s slow-show;
}

@keyframes slow-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.chevron-rotate {
  transform: rotate(-180deg);
}

.transform {
  transition: 0.3s;
}
#chevron-item1 {
  width: 16px !important;
  height: 16px !important;
}
#chevron-item2 {
  width: 16px !important;
  height: 16px !important;
}

#chevron-item3 {
  width: 16px !important;
}

@include media("<390px") {
  .card-header {
    font-size: 16px;
    font-weight: bold;
  }
  .card-body {
    font-size: 16px;
  }
}
