.container,
.container-sm,
.container-xs {
  width: 100%;
  padding-left: $container--padding__mobile;
  padding-right: $container--padding__mobile;

  @include media(">small") {
    padding-left: $container--padding__desktop;
    padding-right: $container--padding__desktop;
  }
}

.container {
  max-width: $container--width + ($container--padding__desktop * 2);
}

.container-sm {
  max-width: $container--width-sm + ($container--padding__desktop * 2);
}

.container-xs {
  max-width: $container--width-xs + ($container--padding__desktop * 2);
}

[class*="container"] {
  [class*="container"] {
    padding-left: 0;
    padding-right: 0;
  }

  .container-sm {
    max-width: $container--width-sm;
  }

  .container-xs {
    max-width: $container--width-xs;
  }
}

.container-xxs {
  max-width: $container--width-xxs;
}

.container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-features-header {
  display: flex;
  align-items: center;
  height: 32em;
  margin: 0 0 !important;
}

.container-tiles {
  height: 40em;
}

.levels-container {
  width: 70%;
}

.plans-text-responsive {
  width: 50%;
}
