$lesson-left-spacer: 35px;

.lesson-container {
  position: relative;
  width: 100%;
  color: rgba(0, 0, 0, 0.6) !important;

  &-left {
    padding: 0 0 0 26px;
  }
  &-right {
    padding: 0 26px 0 0;
  }
}

.lesson-spacer {
  height: 100%;
  &-left {
    padding: $lesson-left-spacer 0 0 40px;
  }
  &-right {
    padding: $lesson-left-spacer 40px 0 0;
  }
}

.lesson-container-icon {
  position: absolute;
  top: $lesson-left-spacer;
  width: 21px;
  height: 21px;
  border-radius: 50em;
  background-color: #e8e8e8;
  box-shadow: color-bg(body) 0px 10px 0px 0px, color-bg(body) 0px -7px 0px 0px;
  &-left {
    left: 17px;
  }
  &-right {
    right: 17px;
  }
}

.lesson-img {
  width: 23%;
}

.lesson-content {
  flex: 1;
  &-section-1 {
    line-height: 14px !important;
    font-size: 15px;
    color: #878787;
  }
}

.hint::before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  border-top-color: transparent;
  border-top-width: medium;
  border-right-color: transparent;
  border-right-width: medium;
  border-bottom-color: transparent;
  border-bottom-width: medium;
  border-left-color: transparent;
  border-left-width: medium;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(229, 232, 235, 0) white rgba(229, 232, 235, 0)
    rgba(229, 232, 235, 0);
  border-width: 8px;
  margin-top: -7px;
}
