// Tiles (core/patterns/_tiles.scss)
$tiles-items--padding__mobile:  24px;		// padding between tiles (mobile)
$tiles-items--padding__desktop: null;		// padding between tiles (desktop)
$tiles-item--width: 			330px;		// tile item, width
$tiles-item--inner-padding-v: 	32px;		// tile item, inner top and bottom padding
$tiles-item--inner-padding-h: 	24px;		// tile item, inner left and right padding
