/*--------------------------------------------------------------
# Scroll reveal
--------------------------------------------------------------*/
@import "base/scroll-reveal";

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
@import "base/colors";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "base/typography";

/*--------------------------------------------------------------
# Widths and spacing
--------------------------------------------------------------*/
@import "base/widths-and-spacing";

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
@import "base/links";

/*--------------------------------------------------------------
# Other settings
--------------------------------------------------------------*/
@import "base/misc";

/*--------------------------------------------------------------
# Buttons and forms
--------------------------------------------------------------*/
@import "elements/buttons-and-forms";

/*--------------------------------------------------------------
# Buttons and forms
--------------------------------------------------------------*/
@import "elements/buttons-and-forms";

/*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/
@import "elements/modal";

/*--------------------------------------------------------------
# Split pattern
--------------------------------------------------------------*/
@import "patterns/split";

/*--------------------------------------------------------------
# Tiles pattern
--------------------------------------------------------------*/
@import "patterns/tiles";

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
@import "layout/header";

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
@import "layout/sidebar";

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
@import "layout/mainContent";

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
@import "elements/colors";

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
@import "layout/footer";
