// Hero (core/sections/_hero.scss) -----------------------------
$hero--padding-t__mobile: 		null;		// hero, top padding (mobile)
$hero--padding-b__mobile: 		null;		// hero, bottom padding (mobile)
$hero--padding-t__desktop: 		null;		// hero, top padding (desktop)
$hero--padding-b__desktop: 		null;		// hero, bottom padding (desktop)
$hero--inner-padding-v_mobile: 	48px;		// vertical padding, i.e. padding between content and image (mobile, both hero split and hero full)
$hero--inner-padding-v_desktop: 64px;		// vertical padding, i.e. padding between content and image (desktop, only hero full)
